/*The Next 23 lines are from w3schools.com*/
.topnav {
    background-color: maroon;
    overflow: hidden;
    font-family: Verdana;
}
.topnav a {
    float: left;
    color: tan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: antiquewhite;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: white;
}

h4 
{
    font-size: 25px;
    color: white;
}


button
{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;
}
input
{
    background-color: black;
    color: white;
    font-size: 25px;
}
body
{
    background-color: lightblue;
    text-align: center;
}
