
.topnav {
    background-color: white;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, serif;
}

.topnav a:hover {
    background-color: #FFE9E6;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #FFE9E6;
    color: black;
}

body
{
    font-family : Calibri light, sans-serif;
    background-color: #FFE9E6;
    font-size: 18px;
}
input
{
    background-color: #FFE9E6;
    border-color: black;
}

button
{
    background-color: white;
    border-color: black;
    font-family: Calibri light, sans-serif;
    color: black;
    font-size: 20px;
}

h4
{
    font-family: Calibri light, sans-serif;
    font-size: 20px;
}